/* font family */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: "Lato",sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* share styles start*/
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn-primary {
    border-radius: 5px;
    background: rgb(229, 84, 115);
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-1 {
    color: #272727;
}

.dark-2 {
    color: rgba(39, 39, 39, 0.6);
}

/* share styles end */


/* header style start */

#header{
    height: 650px;
    background-color: rgba(229, 84, 115, 0.1);
}

#header .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text-container {
    width: 50%;
}

.header-text-container .header-title {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 55px;
    line-height: 65px;
}

.header-text-container .header-description {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    line-height: 20px;
    margin: 20px 0;
}

.header-img-container {
    width: 40%;
    margin: 0 auto;
}

.header-container img {
    width: 100%;
    margin-top: 75px;
    margin-left: 40px;
}

/* header style end */

/* feature flower style start */

.feature-flower {
    margin: 150px 0;
}

.feature-flower-text {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
}

.feature-flower-text .feature-flower-header {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 28px;
}

.feature-flower-text .feature-flower-description {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}

.feature-img-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
}

.feature-img-container .img-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 40px 40px 0 40px;
    border-radius: 50% 50% 0 0;
    width: 400px;
    height: 400px;
}

.feature-img-container .img-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 40px 40px 0 40px;
    border-radius: 50% 50% 0 0;
    width: 400px;
    height: 400px;
}

.feature-img-container .img-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 40px 40px 0 40px;
    border-radius: 50% 50% 0 0;
    width: 400px;
    height: 400px;
}

.flower-text {
    margin-top: 5px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.feature-img-container img {
    width: 65%;
    height: 350px;
    margin-left: 45px;
    margin-top: 10px;
}

/* feature flower style end */

/* banner style start */
.banner {
    height: 300px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.group-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.group-container .group-text {
    font-family: "Lato", sans-serif;
    color: rgba(39, 39, 39, 0.8);
    font-weight: 600;
    font-size: 15px;
    margin-top: 15px;
}

/* banner style end */

/* hot deal section style start */
.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    height: 500px;
    margin: 100px 0;
}

.deal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.deal-container .deal-text {
    width: 600px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.deal-text .deal-header {
    font-family: "Lota", sans-serif;
    font-weight: 800;
    font-size: 30px;

}

.deal-text .deal-description {
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
    margin: 10px 0;
}


.pink-text {
    color: #E55473;
}

/* hot deal section style end */

/* instagram section style start */
.instagram .instagram-text {
    width: 500px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.instagram-text .instagram-header {
    font-family: "Lota", sans-serif;
    font-weight: 800;
    font-size: 25px;
}

.instagram-text .instagram-description {
    margin: 10px 0;
    color: rgba(39, 39, 39, 0.6);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}

.instagram .instagram-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.instagram-images .instagram-image {
    width: 265px;
    height: 350px;
    border-radius: 5px;
}
/* instagram section style end */

/* latest deal style start */

.latest-deal {
    margin: 100px auto;
    height: 350px;
    background-image: url("../Rectangle\ 9.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-deal .latest-deal-content {
    width: 670px;
    height: 200px;
}

.latest-deal .latest-deal-content .latest-text {
    width: 350px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
}

.latest-deal .latest-deal-content .latest-text .latest-title {
    font-family: "Lota", sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.latest-text .latest-description {
    font-family: "Lota", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: rgba(39, 39, 39, 0.6);
    line-height: 20px;
    margin-top: 10px;
}

.latest-deal-content .latest-form {
    display: flex;
    gap: 10px;
}

.latest-deal-content .latest-form input {
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 10px;
    font-family: "Lota", sans-serif;
}

/* latest deal style end */

/* footer section style start */

#footer {
    background-color: #111010;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.footer-title {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-size: 28px;
}

.footer-description {
    width: 400px;
    color: rgba(161, 161, 161, 0.9);
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin: 10px 0;
}

.copyRight {
    color: rgba(255, 255, 255, 0.4);
    font-family: Lato;
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
}





/* footer section style end */








